/**
 * Main CSS File
 */

 // Imports
 @import "utils";
 @import "ink";

body{
  background: #fff;
  color: $base-ui-color;
  padding: 20px 0;
}

.symbio-logo {
  width: 200px !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
  float: none !important;
  margin-bottom: 50px;
}

.main-title__top {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #555;
  letter-spacing: 1px;
}

.main-title {
  font-weight: bold;
  font-size: 2.4em;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-title{
  font-weight: normal;
  font-size: 1.2em;
  color: #555;
  text-align: center;
  margin-bottom: 35px;
}

.subsub-title{
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
}

.main-text {
  font-size: 1rem;
  color: #555;
}

p{
  font-size: 1em;
  line-height: 1.68;
  margin-bottom: 1em;
}

a {
  color: $brand-color;
}

.button td {
  padding: 20px !important;
}

.contact-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-text {
  margin-bottom: 0;
}
